p {
  text-indent: 2em;
  text-align: justify;
  margin-bottom: 0.1em;
  margin-top: 0.3em;
}

p.not-inset {
  text-indent: 0em;
}

p.hard-break {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  text-indent: 0em;
}

p.soft-break {
  margin-bottom: 3em;
}

p span.small-caps {
  font-variant: small-caps;
}

span.fwsp {
  width: 0.1em;
  display: inline-block;
}

div.center {
  text-align: center;
}